[submodule ".config/nvim/pack/plugins/start/mason"]
	path = .config/nvim/pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim
[submodule ".config/nvim/pack/plugins/start/mason-lspconfig"]
	path = .config/nvim/pack/plugins/start/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule ".config/nvim/pack/plugins/start/nvim-treesitter"]
	path = .config/nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".config/nvim/pack/plugins/start/telescope"]
	path = .config/nvim/pack/plugins/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".config/nvim/pack/plugins/start/plenary"]
	path = .config/nvim/pack/plugins/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".config/nvim/pack/plugins/start/undotree"]
	path = .config/nvim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule ".config/nvim/pack/plugins/start/lspconfig"]
	path = .config/nvim/pack/plugins/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/plugins/start/gruvbox"]
	path = .config/nvim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
