[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/PERTZ42/nvim
[submodule ".config/tmux/.tmux/plugins/tpm"]
	path = .config/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
