@keyframes blink {
    to {
        background-color: white;
        color: black;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    color: #FFF3A7;
    background: black;
    border: 2px solid black;
}

#workspaces {
    /* background: #805920; */
    /* border: solid 2px grey; */
    opacity: 1;
    transition: none;
    padding: 5px 5px;
    border-radius: 5px;
}

#workspaces button,
#workspaces button.persistent {
    background: transparent;
    color: #FFF3A7;
    transition: none;
}

#workspaces button.active {
    background: #FFF3A7;
    color: #19140E;
    border-radius: 5px;
}

#workspaces button.urgent {
    background: sandybrown;
    color: white;
    border-radius: 5px;
}

#workspaces button:hover {
    background: grey;
    color: white;
    border-radius: 5px;
}

#taskbar {
    background: grey;
    border-radius: 5px;
    margin: 5px 10px 5px 50px;
}

tooltip {
    background: black;
    opacity: 0.80;
}

tooltip label {
    color: white;
}

#cpu,
#disk,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight,
#language {
    /* background: @background; */
    opacity: 1;
    padding: 0px 5px;
    margin: 2px 0px 2px 0px;
}

/* #disk.critical, */
/* #temperature.critical { */
/*     background-color: @critical; */
/* } */

/* #disk.warning, */
/* #temperature.warning { */
/*     background-color: @warning; */
/* } */

#battery {
    color: green;
    border-radius: 5px 0px 0px 5px;
}

#battery.discharging {
    color: darkgray;
}

#battery.warning:not(.charging) {
    background: orangered;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    border-radius: 0px 5px 5px 0px;
}

#tray {
    /* background: green; */
    border-radius: 5px;
    /* margin: 5px 50px 5px 10px; */
}
